<div class="text-center">
  <h1>Cocktails list</h1>
</div>

<div class="list-group">
  <ul>
    <%@cocktails.each do |cocktail| %>
      <li class="list-group-items"><%=  cocktail.name %>
        <%= link_to cocktail_path(cocktail) do %>
          <i class="fa fa-glass"></i>
        <% end %>
        <%= cl_image_tag("n7dq4b246blm0omcbypw",
      width: 400, height: 300, crop: :fill) %>
      </li>
    <% end %>
  </ul>
</div>


<div class="text-center">
  <%= link_to "Créer un nouveau cocktail", new_cocktail_path,
      class: "btn btn-success" %>
</div>
